header {
  background-color: black;
  color: white;
}

#NavBar{
}

#MiddleHours {
  background-size: cover;
  background-image: url("vecteezy_fresh-ripe-fruit-on-green-branch-nature-healthy-gourmet_28731502_445.jpg");
  color: white;
}

footer{
  background-color: black;
  color: white;
}


